<h1>Hi! Welcome to the IFitWeather App for travelers!</h1>

<form action="/signup">
  <label for="">username</label>
  <input name="username" type="text">
  <label for="">password</label>
  <input name="password" type="password">
  <button>Login</button> or <button>Sign Up</button>

  <h2>What are the activities/tours you'd like to do today?</h2>


</form>