<h1>Hi! Welcome to the IFitWeather App for travelers!</h1>

<form action="/session" method="post">
  <label for="">username</label>
  <input name="username" type="text">
  <label for="">password</label>
  <input name="password" type="password">
  <button>Login</button>
  </form>
  
<a href="/signup">Sign Up </a>

<%# <form action="/signup" method="get">
<button>Sign Up</button>
</form> %>
  <%# <h2>What are the activities/tours you'd like to do today?</h2>
  <form action="/main" method="post">
    <label for="">1.</label>
    <input name="activity1" type="text">
    <label for="">2.</label>
    <input name="activity2" type="text">
    <label for="">3.</label>
    <input name="activity3" type="text">
    <button>Go</button>
  </form> %>


