<div class="bg-img">
  <%# <img src="https://images.pexels.com/photos/533930/pexels-photo-533930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""> %>
</div>

<div class="search">
    <h1>Welcome <%= current_user[:username]%>!</h1>
    <p>Check the weather in your destination today..</p>

    <form action="/weather_info" method="post">
        <input name="city" type="text">
        <button>Go</button>
    </form>
</div>

