<div class="bg-img">
  <%# <img src="https://images.pexels.com/photos/533930/pexels-photo-533930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""> %>
</div>


<div class="signup">
    <h1>Register</h1>

    <form action="/signup" method="post">
        <label for="">username</label>
        <input name="username" type="text">
        <label for="">password</label>
        <input name="password" type="password">
        <button>register</button>
    </form>
</div>