* {
  box-sizing: border-box;
}



body {
  background-image: url("https://images.pexels.com/photos/533930/pexels-photo-533930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.login {
  position: absolute;
  bottom: 50px;
  font-family: 'Domine',
  serif;
}

input {
  border-radius: 5px;
  border: 2px solid rgb(189, 105, 96);
}

.search {
  position: absolute;
  bottom: 50px;
  font-family: 'Domine',
  serif;
}

button {
  border-radius: 5px;
  border: 2px solid rgb(189, 105, 96);
}

.name {
  /* border: 2px solid black; */
  text-align: center;
  text-transform: uppercase;
}

.main {
  /* border: 2px solid black; */
  text-align: center;
}

.temp {
  /* border: 2px solid black; */
  text-align: center;
}

.humidity {
  /* border: 2px solid black; */
  text-align: center;
  width: 100px;
  display: inline-block;
}

.temp_min {
  /* border: 2px solid black; */
  text-align: center;
  width: 150px;
  display: inline-block;
}

.temp_max {
  /* border: 2px solid black; */
  text-align: center;
  width: 150px;
  display: inline-block;
}

.humidity, .temp_min, .temp_max {
  width: 30%;
}

.extra_info {
  text-align: center;
}

.image {
  margin-left: 47%;
}

.name, .main, .temp, .humidity, .temp_min, .temp_max {
  color:black;
  font-family: 'Domine',
  serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.info {
  background-image: url("https://images.pexels.com/photos/627823/pexels-photo-627823.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.signup {
  position: absolute;
  bottom: 50px;
  font-family: 'Domine',
  serif;
}

.main > p > img {
  width: 15%;
}

.new_city {
  text-align: center;
}